@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url("../images/office.png");
}

.navbar-appear {
  opacity: 0.01;
}

.navbar-appear.navbar-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.dom-appear {
  opacity: 0.01;
}

.dom-appear.dom-appear-active {
  opacity: 1;
  transition: opacity .7s ease-in;
}
