#name {
  font-size: 50px;
  font-style: bold;
}

#vince {
    -webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
    margin-top: 20px;
    border-radius: 250px;
    width: 250px;
    height: 250px;
}
