@import url('https://fonts.googleapis.com/css?family=Ubuntu');

#root{
  font-family: 'Ubuntu', sans-serif;
}

.Home {
  text-align: center;
  color: white;
}

#name {
  font-size: 60px;
  font-style: bold;
}

.nav {
  background-color: gray;
  color: white
}

